body {
  background-color: #170e39;
  text-transform: uppercase;
  color: aliceblue;
}

.page {
  border: medium dashed green;
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 10px;
  margin-top: 30px;
}

.btn {
  row-gap: 10px;
  width: 200px;
}

