<?xml version='1.0' encoding='utf-8'?>
<widget id="io.pedrohos.guessnumber" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Luke &amp; Mike Dognautas</name>
    <description>Luke and Mike are two dogs astronauts (astro-dogs). One day Mike got stuck on the Tamon planet and your brother Luke should rescue him. The problem is that Luke forgot some important code and our mission is to help Luke to discover those numbers. The game will sort numbers from 1 to 100 in a range of 10 numbers and will hide one by line, your mission will be to identify the missing number.</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
</widget>
